/* # Icons */

&-icon
{
	display: table;
	table-layout: fixed; 
	
	background-color: $white;

	@include mq($until: tablet)
	{
		width: smash-size($logo_width_medium);
		height: smash-size($logo_height_medium);
	}

	@include mq(tablet)
	{
		width: smash-size($logo_width);
		height: smash-size($logo_height);
	}

	&_in-1
	{
		display: table-cell;
		vertical-align: middle;
	}

	svg,
	img
	{
		@include mq($until: tablet)
		{
			width: smash-size(60px);
			height: smash-size(51px);
		}

		@include mq(tablet)
		{
			width: smash-size(77px);
			height: smash-size(66px);
		}
	}
}