/* # Boutons */

/* # États */

&-button,
&-btn
{
	&:hover,
	&:focus
	{
		
	}
	&:active
	{
		
	}
	&[disabled]
	{
		
	}
}

&-btn 
{
	&-alpha 
	{
		$fs1: 16px;
		
		@include inline-block(top);
		//@include border-radius($smash-lh);
		background-color: $black;
		background-image: none !important;
		color: $white;
		border-bottom: 0 !important;
		
		@include smash-typo($fs1, 'em', $smash-margin: false);
		
		padding: smash-size($smash-lh/3, 'em', $fs1) smash-size($smash-gutter, 'em', $fs1);
		
		text-transform: uppercase;
		font-weight: bold;
		
		letter-spacing: 0.05em;
		@include transition(color $smash-transition, background-color $smash-transition);
		
		

		&:after 
		{
			content: '›';
		}

		.is-hover &
		{
			background-color: $red;
		}

		.#{$smash-prefix}-page-header &,
		.#{$smash-prefix}-page-block &,
		.#{$smash-prefix}-block-important &
		{
			background-color: $black;
			
		}

		.#{$smash-prefix}-page-header .is-hover &,
		.#{$smash-prefix}-page-block .is-hover &,
		.#{$smash-prefix}-block-important .is-hover &,
		.#{$smash-prefix}-page-header.is-hover &,
		.#{$smash-prefix}-page-block.is-hover &,
		.#{$smash-prefix}-block-important.is-hover &
		{
			background-color: $white;
			color: $black;
		}

	}
}



/*
		<button class="xx-btn">Lorem ipsum</button>
*/

@at-root 
{
	a,
	button 
	{
		&.#{$smash-prefix}-btn-alpha 
		{
			&:focus,
			&:hover,
			&:active 
			{
				background-color: $red;
			}

			.#{$smash-prefix}-page-header &,
			.#{$smash-prefix}-page-block &,
			.#{$smash-prefix}-block-important &
			{
				
				&:focus,
				&:hover,
				&:active
				{
					background-color: $white;
					color: $black;
				}
			}
		}
	}

	button 
	{
		background: none;
		color: inherit;
		font: inherit;
		line-height: inherit;
		border: 0;	
	}

	#infinite-handle
	{
		text-align: center;
	}
}