/* # Tailles des textes */

@at-root
{
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		@include smash-typo($smash-fs0, 'em', $smash-margin: false);
		font-weight: normal;
	}

	%uxr-level1,
	%uxr-level2,
	%uxr-level3,
	%uxr-level4,
	%uxr-level5,
	%uxr-level6
	{
		text-transform: uppercase;
		letter-spacing: 0.005em;	
	}

	%uxr-level1
	{
		@include mq($until: tablet)
		{
			@include smash-typo($smash-h1 - 10px, 'em');
		}

		@include mq(tablet)
		{
			@include smash-typo($smash-h1, 'em');
		}
	}

	%uxr-level2
	{
		@include mq($until: tablet)
		{
			@include smash-typo($smash-h2 - 10px, 'em');
		}

		@include mq(tablet)
		{
			@include smash-typo($smash-h2, 'em');
		}
	}

	%uxr-level3
	{
		@include mq($until: tablet)
		{
			@include smash-typo($smash-h3 - 10px, 'em');
			line-height: normal;
		}

		@include mq(tablet)
		{
			@include smash-typo($smash-h3, 'em');
		}
	}

	%uxr-level4
	{
		// @include mq($until: tablet)
		// {
		// 	$fs1: $smash-h4 - 10px;
		// 	@include smash-typo($fs1, 'em', $smash-margin: false);
		// 	margin-bottom: smash-size($smash-lh/2, 'em', $fs1);
		// }

		// @include mq(tablet)
		// {
			$fs1: $smash-h4;
			@include smash-typo($fs1, 'em', $smash-margin: false);
			margin-bottom: smash-size($smash-lh/2, 'em', $fs1);
		// }
	}

	%uxr-level5
	{
		@include mq($until: tablet)
		{
			@include smash-typo($smash-h5 - 10px, 'em');
		}

		@include mq(tablet)
		{
			@include smash-typo($smash-h5, 'em');
		}
	}

	%uxr-level6
	{
		@include mq($until: tablet)
		{
			@include smash-typo($smash-h6 - 10px, 'em');
		}

		@include mq(tablet)
		{
			@include smash-typo($smash-h6, 'em');
		}
	}

	%uxr-beta 
	{
		letter-spacing: 0.008em;
		line-height: 1.2;
		
		@include mq($until: desktop)
		{
			@include smash-typo(28px, 'em');
			word-spacing: 0;
			letter-spacing: 0;
		}
		
		@include mq(desktop)
		{
			@include smash-typo(50px, 'em');
		}
	}

	%uxr-delta 
	{
		letter-spacing: 0.008em;
		line-height: 1.2;
		
		@include mq($until: desktop)
		{
			@include smash-typo(28px, 'em');
			word-spacing: 0;
			letter-spacing: 0;
		}
		
		@include mq(desktop)
		{
			@include smash-typo(40px, 'em');
		}
	}

	%uxr-monoton
	{
		font-family: $monoton; 
		text-transform: uppercase;
		font-weight: normal; 
		word-spacing: 0.1em;
	}

	

	body,
	.#{$smash-prefix-framework}-body
	{
		font-family: $montserrat;
		@include smash-typo($smash-fs0, 'em', $smash-bfs, $smash-margin: false);
		
		@include mq($until: tablet)
		{			
			font-size: smash-size($smash-fs-mobile, 'em', $smash-bfs);
			// line-height is inherited :)
		}

		
	}
}

&-bigger
{
	font-weight: bold;
	@include smash-typo($smash-bigger, 'em');
}

&-big
{
	margin-top: smash-size($smash-lh, 'em');
	margin-bottom: smash-size($smash-lh, 'em');
	text-align: center;

	@include mq(almost_tablet)
	{
		@include smash-typo($smash-big, 'em');
	}
}

&-small
{
	@include smash-typo($smash-small, 'em');
}

&-smaller
{
	@include smash-typo($smash-smaller, 'em');
}

&-title
{
	&-so-big
	{
		@extend %uxr-monoton;
		line-height: 1;
		
		@include mq($until: almost_tablet)
		{
			font-size: smash-size(45px, 'em');
		}
		
		@include mq(almost_tablet, tablet)
		{
			font-size: smash-size(55px, 'em');
		}

		@include mq(tablet, desktop)
		{
			font-size: smash-size(65px, 'em');
		}
		
		@include mq(desktop)
		{
			font-size: smash-size(90px, 'em');
		}
	}

	&-giant 
	{
		@extend %uxr-monoton;
		
		@include mq($until: desktop)
		{
			@include smash-typo(45px, 'em');
		}
		
		@include mq(desktop)
		{
			@include smash-typo(90px, 'em');
		}
	}

	&-alpha 
	{
		@extend %uxr-monoton;
		
		@include mq($until: desktop)
		{
			@include smash-typo(45px, 'em');
		}
		
		@include mq(desktop)
		{
			@include smash-typo(70px, 'em');
		}
	}

	&-beta
	{
		@extend %uxr-monoton;
		@extend %uxr-beta;
	}

	&-gamma 
	{
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		
		@include mq($until: almost_tablet)
		{
			@include smash-typo($smash-big, 'em', $smash-margin: false);
			margin-bottom: smash-size($smash-lh/2, 'em', $smash-big);
		}

		@include mq(almost_tablet)
		{
			@include smash-typo($smash-h3, 'em');
			
			.#{$smash-prefix}-layout-alpha &
			{
				max-width: smash-size(450px);
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	&-delta
	{
		@extend %uxr-monoton;
		@extend %uxr-delta;
	}
}