/* # Layout colours */

&-color
{

	//
	// UX DEIZ
	//
	&-uxdeiz 
	{
		.#{$smash-prefix}-site-header,
		.#{$smash-prefix}-page-header,
		.#{$smash-prefix}-page-block,
		&-block
		{
			background-color: $red;	
			color: $white;
		}

		.#{$smash-prefix}-icon
		{
			color: $red;
		}
	}

	//
	// AFTERWORK
	//
	&-afterwork
	{
		.#{$smash-prefix}-site-header,
		.#{$smash-prefix}-page-header,
		.#{$smash-prefix}-page-block,
		&-block
		{
			background-color: $gold;
		}

		.#{$smash-prefix}-icon
		{
			color: $gold;
		}
	}

	//
	// DARK
	//
	&-shadows
	{
		background-color: $black;
		color: $white;
	}
}