/* # Styles spécifiques à la tête de page */

&-site-header 
{
	position: relative;
	z-index: 2;  
	background-color: $red;
	color: $white;
	
	@include mq($until: desktop)
	{
		padding-bottom: smash-size($smash-lh, 'em');
	}
	
	@include mq(desktop)
	{
		padding-bottom: smash-size($smash-lh*2, 'em');
	}

	&_logo 
	{
		margin-bottom: 0;
		
		a 
		{
			@include inline-block(top);
			background: none;
		}
		
		img 
		{
			@include mq($until: tablet)
			{
				width: smash-size($logo_width_medium);
				height: smash-size($logo_height_medium);
			}

			@include mq(tablet)
			{
				width: smash-size($logo_width);
				height: smash-size($logo_height);
			}
		}
	}
}