/* # Page styles */

&-page
{
	&-header,
	&-block 
	{
		> * > *
		{
			margin-bottom: 0 !important;
		}
	}
	
	&-header 
	{
		margin-bottom: smash-size($smash-lh*2, 'em');
		padding-bottom: smash-size($smash-lh*2, 'em');

		a 
		{
			color: inherit;
			@include background-image(linear-gradient(rgba(#000,0) 98%, rgba($white,1) 98%));
			
			&:focus,
			&:hover,
			&:active
			{
				background-image: none;	
			}
		}

		&_title 
		{
			margin-bottom: 0;
			 
			em 
			{
				display: block;
				font-weight: bold;
				color: $black;
				font-style: normal;
				text-transform: uppercase;
				letter-spacing: 0.005em; 
				margin-bottom: smash-size($smash-lh/4, 'em');
			}

			span 
			{
				color: $black;
			}
			
			.#{$smash-prefix}-important
			{
				display: block;
			}
		}
	}
}